@charset "utf-8";

@media all and (max-width:767px){
	
}
 		*{margin: 0;padding: 0;box-sizing:border-box; font-family: 'NanumSquare', sans-serif !important;}
		li{list-style: none;}
		a:link,a:visited{color:black;}
		a{text-decoration:none;}
		.clearfix:after{content:"";clear:both;display:block;}
		body
		{
			background-color: #f6f6f6;
		}

		#back
		{
			height: 150px;
			background: rgb(63,171,220);
			background: linear-gradient(180deg, rgba(63,171,220,1) 0%, rgba(142,210,197,1) 100%);
		}

		#wrap
		{
			height:830px;
			position: absolute;
			overflow: hidden;
			left: 50%;
			top: 2%;
			transform:translate(-50%,0%);
			padding:10px;
		}
		header
		{
			height: 100px;
			margin-left:30px;
		}

		h1
		{
			color:white;
			font-size:1.5rem;
			line-height:15px;
			font-weight:400;
		}

		.box_wrapper1, .box_wrapper2
		{
			width: 480px;
			height: 330px;
			position: relative;
			transform:translate(-50%,0%);
			background-color:#fff;
		}
		.box_wrapper1
		{
			left: 50%;top: 5%;
		}
		.box_wrapper2
		{
			left: 50%;top: 8%;
		}

		.box>p{
			font-size:1.1rem;
			font-weight:600;
			color:#333;
			background-color:white;
			padding:20px 20px 20px 50px;
			border-bottom:1px solid #f6f6f6;
		}
		.box>ul
		{
			text-align: center;
		}
		.box>ul>li
		{
			width:27%; 
			margin-top:50px;
			display:inline-block;

		}

		.preview
		{
			font-weight:800;
			line-height:25px;
			color:#555;
			margin-top:10px;
		}
		.preview li:nth-child(2)
		{
			color:#3ccc7a;
		}
		.on
		{
			font-weight:800;
		}
		.on li:nth-child(2)
		{
			color:#3caccb;
		}
		/*.box{
			width: 200px;height: 400px;
			background-color:blue;transition:.3s;position: absolute;transform-origin:50% 0;
		}
		.box:hover{transform:rotate(10deg);}*/

		


